<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script type="text/javascript" src="../static/js/scripts.js"></script>
    <title>CRONICLOUD</title>
</head>
<body style="background: black" onload="start();">
    <div id="history">
        <h1 style="text-align: center;">history</h1>
        <div>
            <label for="history_search">~$ </label> <input
                style="caret-color: transparent; position: relative; z-index: 1; display: inline; margin-right: -45.5ch; max-width: 44ch; width: 44ch; background: transparent; color: white; font-family: 'Courier New', Courier, monospace; font-size: medium; border: solid transparent; outline: none;"
                type=text id="history_search" onkeyup="expand('history_search');" onkeydown="expand('history_search');"
                placeholder="">
            <h3 id="blinking_cursor" style="position: relative; display: inline; z-index: -1;">&#x2588</h3>
        </div>
        <div id="event_list"></div>
    </div>

    <!-- FOR FLASK WEB GUI: Keep server running -->

    <script>
        async function getRequest(url = '') {
            const response = await fetch(url, {
                method: 'GET',
                cache: 'no-cache'
            })
            return response.json()
        }

        document.addEventListener('DOMContentLoaded', function () {

            let url = document.location
            let route = "/flaskwebgui-keep-server-alive"
            let interval_request = 3 * 1000 //sec

            function keep_alive_server() {
                getRequest(url + route)
                    .then(data => console.log(data))
            }

            setInterval(keep_alive_server, interval_request)();

        })
    </script>
</body>
</html>